<div class="container">
  <h4>Authorization:</h4>
  <div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">
    <img class="auth-image" src="./assets/images/user.svg" alt="">
  </span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
           aria-describedby="addon-wrapping">
  </div>
  <br>
  <div class="input-group flex-nowrap">
  <span class="input-group-text" id="addon-wrapping">
    <img class="auth-image" src="./assets/images/lock.svg" alt="">
    </span>
    <input type="password" class="form-control" placeholder="Password" aria-label="Username"
           aria-describedby="addon-wrapping">
  </div>
  <br>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-info float-start">Registration</button>
    </div>
    <div class="col login-button">
      <button type="button" class="btn btn-info float-end">Log In</button>
    </div>

  </div>

</div>


