.reg-container{
  width: 400px;
  margin-top: 100px;
  padding: 30px;
}

.reg-container img{
  width: 16px;
}

.reg-container h3{
  margin-bottom: 50px;
}

.reg-container button{
  margin-top: 30px;
}

.progress{
  margin-top: 30px;
}

.validation small{
  color: red;
}

.error-message{
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.error-message p {
  margin-top: 10px;
  color: red;
}

.password-icon:hover{
  cursor: pointer;
}
