<div class="text-center">
  <h2>Create Post</h2>
</div>
<div class="d-flex justify-content-center">
  <div class="create-post-container"
       *ngIf="!isPostCreated; else Congratulation">
    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <label for="title">Title:</label>
          <input type="text"
                 id="title"
                 class="form-control"
                 placeholder="My post:"
                 formControlName="title">
        </div>
        <div class="row validation">
          <div class="col-6 d-flex justify-content-center">
            <small *ngIf="form.get('title').invalid && form.get('title').touched">
              Field Title cannot be empty!
            </small>
          </div>
        </div>
        <!--        <div class="col-6">-->
        <!--          <label for="image">Image:</label>-->
        <!--          <input type="text"-->
        <!--                 id="image"-->
        <!--                 class="form-control"-->
        <!--                 placeholder="link on image for my post:"-->
        <!--                 formControlName="image">-->
        <!--        </div>-->
      </div>
      <label for="description">Description:</label>
      <input type="text"
             id="description"
             class="form-control"
             placeholder="Here is description my post:"
             formControlName="description">
      <div class="validation d-flex justify-content-center">
        <small *ngIf="form.get('description').invalid && form.get('description').touched">
          Field Description cannot be empty!
        </small>
      </div>
      <label for="content">Content:</label>
      <textarea class="form-control"
                id="content"
                rows="4"
                placeholder="Content for my first post:"
                formControlName="content">
      </textarea>
      <div class="validation d-flex justify-content-center">
        <small *ngIf="form.get('content').invalid && form.get('content').touched">
          Field Content cannot be empty!
        </small>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-info" type="button" (click)="showExitAlert()">Back</button>
        </div>
        <div class="col-6">
          <button class="btn btn-info float-end" type="submit" [disabled]="form.invalid">Create</button>
        </div>
      </div>
    </form>
    <div class="alert alert-info"
         role="alert"
         *ngIf="errors.length >= 1">
      <div class="alert-message"
        *ngFor="let error of errors">
        <h4>Sorry, but occurred some problem(s):
          <br>
          {{ error.message }}
        </h4>
      </div>
    </div>
  </div>

  <ng-template #Congratulation>
    <div class="congratulation-container shadow text-center">
      <div class="cong-text">
        <h3>Congratulation!
          <br>
          Post added!
        </h3>
      </div>
    </div>
  </ng-template>
</div>
