<h2 mat-dialog-title>Confirm post delete:</h2>
<mat-dialog-content class="mat-typography">
<!--  <h3>Develop across all platforms</h3>-->
<!--  <p>Are you sure, that you want to delete this post?</p>-->
<!--  <p>This action cannot be undone!</p>-->
  <p>Are you sure, that you want to delete this post? <br> This action cannot be undone!</p>
</mat-dialog-content>
<!--<mat-dialog-actions align="end">-->
<!--  <button class="btn btn-danger"  mat-dialog-close>Cancel</button>-->
<!--  <button class="btn btn-danger" [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
<!--</mat-dialog-actions>-->
<hr>
<div class="row">
  <div class="col ">
    <button class="btn btn-info float-end" mat-dialog-close >Back</button>
    <button class="btn btn-danger float-end" (click)="deletePost()">Delete</button>
  </div>

</div>
