.container img{
  border-radius: 30px;
  width: 550px;
}

.image-height-restriction{
  height: 350px;
}

.padding-class {
  padding-top: 30px;
}

.list-group{
  padding-top: 30px;
}

.description {
  padding-top: 30px;
}

.login-button {
  justify-content: end;
}

.hide-post-list {
  display: none;
}

.container h4 {
  padding-bottom: 15px;
}

.container p {
  padding-top: 10px;
}

.post {
  padding-top: 50px;
}

.inform {
  font-size: small;
  align-self: flex-end;
}

.list-section-padding {
  padding-top: 45px;
}

.validation small{
  color: red;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
