<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <a class="list-group-item list-group-item-action list-group-item-secondary" routerLink="/admin/create">Create
          Post</a>
        <a class="list-group-item list-group-item-action " routerLink="/admin/users">Users</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary" routerLink="/admin/dashboard">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-primary">Temp #</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary">Temp #</a>
        <a class="list-group-item list-group-item-action list-group-item-primary">Temp #</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary">Temp #</a>
        <a class="list-group-item list-group-item-action list-group-item-primary">Temp #</a>
        <a class="list-group-item list-group-item-action list-group-item-secondary">Temp #</a>
      </div>
    </div>
    <div class="col-9">
      <div class="admin-panel-block">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
