<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="/admin/users">Users</a>
        <a class="list-group-item list-group-item-action" routerLink="/admin/posts">Posts</a>
        <a class="list-group-item list-group-item-action" routerLink="/admin/dashboard">Dashboard</a>
      </div>
    </div>
    <div class="col-9">
      <div class="admin-panel-block">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
